<div class="form container">
  <div class="vehicle-form form-group>
     <h1>New vehicle</h1>
      <%= render "form", vehicle: @vehicle %>
      <br>
     <div>
       <%= link_to "Back to vehicles", vehicles_path %>
     </div>
  </div>
</div>
