
.form.container
  .row
  - if current_user.is_Admin
    .col
      %h1 New charge
      = render "form"
    .col
      = render "shared/charge_details"
  - else
    = render "shared/not_admin"
    link_to 'Back', charges_path
